.blogCard {
    display: flex;
    position: relative;
    height: fit-content;
    width: 100%;
    padding: 15px 15px 30px 15px;
    margin-bottom: 1.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #fbfbfd;

    & img {
        width: 10em;
        height: fit-content;
        max-height: 10em;
        border-radius: 10px;
    }
    &__date{
        position: absolute;
        left: 1em;
        top: 80%;
        text-align: center;
        width: fit-content;
        font-size: 0.8em;
        padding: 4px 8px;
        color: #9712cc;
        background-color: #b31dcd48;
        border-radius: 15px;
    }

    &__content {
        display: block;
        margin-left: 1em;
    }
    // Title
    &__content h2 {
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 0.5em;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

    }
    // Text
    &__content p {
        color: #494949;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 1em;
        margin-bottom: 1em;
    }
    // Devamını oku btn
    &__content a {
        position: absolute;
        left: 71%;
        bottom: 1em;
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: 0.8em;
        padding: 4px 8px;
        color: #fff;
        background-color: #000;
        border-radius: 15px;
        text-decoration: none;
    }
}

// MEDIA QUERIES DESKTOP
@media screen and (min-width: 601px) {
    .blogCard{

        &__content h2{
            font-size: 1.4rem;
            width: 80%;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &__content p{
            font-size: 1.2em;
        }
        & img{
            width: 16em;
        }
    }
}